In [1]:
import pandas as pd

In [2]:
x_order_report = pd.read_excel('Company X - Order Report.xlsx')
x_pincode=pd.read_excel('Company X - Pincode Zones.xlsx')
x_sku=pd.read_excel('Company X - SKU Master.xlsx')
courier_company=pd.read_excel("Courier Company - Invoice.xlsx")
c_rates = pd.read_excel('Courier Company - Rates.xlsx')

In [3]:
x_order_report.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [4]:
x_pincode.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [5]:
x_sku.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [6]:
courier_company.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [7]:
c_rates.head()

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [8]:
x=pd.merge(x_order_report,x_sku,on="SKU")
x.head()

   ExternOrderNo            SKU  Order Qty  Weight (g)
0     2001827036  8904223818706        1.0         127
1     2001821995  8904223818706        1.0         127
2     2001819252  8904223818706        1.0         127
3     2001816996  8904223818706        1.0         127
4     2001814580  8904223818706        1.0         127

In [9]:
x['Weight (g)'].unique()

array([127, 150, 100, 165, 350, 500, 137,  10, 112, 240, 120, 110,  65,
       600, 133, 121, 290, 210, 140, 115, 102, 113, 300, 232,  30, 170,
       130, 490, 250, 160, 552], dtype=int64)

In [22]:
x.rename(columns={'Weight (g)':'weight_x'},inplace= True)
x.rename(columns={'ExternOrderNo': 'Order ID'}, inplace = True)
x['weight_x']=x['weight_x']/1000

def slab_x(n):
    if n<=0.5:
        return 0.5
    elif n>0.5 and n<=1:
        return 1
x['weight_slab_x']=x['weight_x'].map(slab_x)
x.head()

     Order ID            SKU  Order Qty  weight_x  weight_slab_x
0  2001827036  8904223818706        1.0  0.000127            0.5
1  2001821995  8904223818706        1.0  0.000127            0.5
2  2001819252  8904223818706        1.0  0.000127            0.5
3  2001816996  8904223818706        1.0  0.000127            0.5
4  2001814580  8904223818706        1.0  0.000127            0.5

In [12]:
x['weight_slab_x'].max()

1.0

In [23]:
company = pd.merge(x ,courier_company, on ='Order ID')
company.head()

,Order ID,SKU,Order Qty,weight_x,weight_slab_x,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001827036,8904223818706,1.0,0.000127,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1.0,0.000150,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1.0,0.000100,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1.0,0.000165,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1.0,0.000350,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9

In [26]:
x_pincode.rename(columns={'Zone':'zone_x'},inplace=True)
company.rename(columns={'Zone':"zone_c"},inplace = True)
final=pd.merge(x_pincode,company ,on ="Warehouse Pincode")
final['weight_c']=final['weight_x']
final.head(50)

,Warehouse Pincode,Customer Pincode_x,zone_x,Order ID,SKU,Order Qty,weight_x,weight_slab_x,AWB Code,Charged Weight,Customer Pincode_y,zone_c,Type of Shipment,Billing Amount (Rs.),weight_c
0,121003,507101,d,2001827036,8904223818706,1.0,0.000127,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000127
1,121003,507101,d,2001827036,8904223819093,1.0,0.000150,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000150
2,121003,507101,d,2001827036,8904223819109,1.0,0.000100,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000100
3,121003,507101,d,2001827036,8904223818430,1.0,0.000165,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000165
4,121003,507101,d,2001827036,8904223819277,1.0,0.000350,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000350
5,121003,507101,d,2001827036,GIFTBOX202002,1.0,0.000500,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000500
6,121003,507101,d,2001827036,GIFTBOX202002,1.0,0.000500,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000500
7,121003,507101,d,2001827036,8904223818638,2.0,0.000137,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000137
8,121003,507101,d,2001827036,SACHETS001,1.0,0.000010,0.5,1091122418320,1.60,173213,b,Forward charges,117.9,0.000010
9,121003,507101,d,2001821995,8904223818706,1.0,0.000127,0.5,1091121183730,0.50,342008,d,Forward charges,45.4,0.000127
10,121003,507101,d,2001821995,8904223819130,1.0,0.000350,0.5,1091121183730,0.50,342008,d,Forward charges,45.4,0.000350
11,121003,507101,d,2001819252,8904223818706,1.0,0.000127,0.5,1091120352712,0.30,174101,b,Forward charges,33.0,0.000127
12,121003,507101,d,2001819252,SACHETS001,1.0,0.000010,0.5,1091120352712,0.30,174101,b,Forward charges,33.0,0.000010
13,121003,507101,d,2001819252,8904223818942,1.0,0.000133,0.5,1091120352712,0.30,174101,b,Forward charges,33.0,0.000133
14,121003,507101,d,2001816996,8904223818706,1.0,0.000127,0.5,1091119429202,0.50,335512,d,Forward charges,45.4,0.000127
15,121003,507101,d,2001816996,8904223818850,1.0,0.000240,0.5,1091119429202,0.50,335512,d,Forward charges,45.4,0.000240
16,121003,507101,d,2001816996,8904223818942,1.0,0.000133,0.5,1091119429202,0.50,335512,d,Forward charges,45.4,0.000133
17,121003,507101,d,2001814580,8904223818706,1.0,0.000127,0.5,1091118925110,0.15,322255,d,Forward and RTO charges,86.7,0.000127
18,121003,507101,d,2001813009,8904223818706,1.0,0.000127,0.5,1091118553701,1.00,313001,d,Forward charges,90.2,0.000127
19,121003,507101,d,2001813009,8904223818850,1.0,0.000240,0.5,1091118553701,1.00,313001,d,Forward charges,90.2,0.000240
20,121003,507101,d,2001813009,8904223818942,1.0,0.000133,0.5,1091118553701,1.00,313001,d,Forward charges,90.2,0.000133
21,121003,507101,d,2001813009,8904223816214,1.0,0.000120,0.5,1091118553701,1.00,313001,d,Forward charges,90.2,0.000120
22,121003,507101,d,2001813009,8904223818874,1.0,0.000100,0.5,1091118553701,1.00,313001,d,Forward charges,90.2,0.000100
23,121003,507101,d,2001812941,8904223818706,1.0,0.000127,0.5,1091118551656,0.73,325207,d,Forward charges,90.2,0.000127
24,121003,507101,d,2001812941,8904223818850,1.0,0.000240,0.5,1091118551656,0.73,325207,d,Forward charges,90.2,0.000240
25,121003,507101,d,2001812941,8904223818942,1.0,0.000133,0.5,1091118551656,0.73,325207,d,Forward charges,90.2,0.000133
26,121003,507101,d,2001812195,8904223818706,1.0,0.000127,0.5,1091118442390,0.67,302012,d,Forward charges,90.2,0.000127
27,121003,507101,d,2001812195,8904223818850,1.0,0.000240,0.5,1091118442390,0.67,302012,d,Forward charges,90.2,0.000240
28,121003,507101,d,2001812195,8904223818942,1.0,0.000133,0.5,1091118442390,0.67,302012,d,Forward charges,90.2,0.000133
29,121003,507101,d,2001811809,8904223818706,1.0,0.000127,0.5,1091118009786,0.50,311011,d,Forward and RTO charges,86.7,0.000127
30,121003,507101,d,2001811809,8904223818850,1.0,0.000240,0.5,1091118009786,0.50,311011,d,Forward and RTO charges,86.7,0.000240
31,121003,507101,d,2001811809,8904223818942,1.0,0.000133,0.5,1091118009786,0.50,311011,d,Forward and RTO charges,86.7,0.000133
32,121003,507101,d,2001811475,8904223818706,1.0,0.000127,0.5,1091121844806,0.50,173212,b,Forward charges,33.0,0.000127
33,121003,507101,d,2001811475,8904223818669,1.0,0.000240,0.5,1091121844806,0.50,173212,b,Forward charges,33.0,0.000240
34,121003,507101,d,2001811475,8904223819031,1.0,0.000112,0.5,1091121844806,0.50,173212,b,Forward charges,33.0,0.000112
35,121003,507101,d,2001811475,8904223819499,1.0,0.000210,0.5,1091121844806,0.50,173212,b,Forward charges,33.0,0.000210
36,121003,507101,d,2001811466,8904223818706,1.0,0.000127,0.5,1091118001865,0.80,302002,d,Forward charges,90.2,0.000127
37,121003,507101,d,2001811466,8904223819468,1.0,0.000240,0.5,1091118001865,0.80,302002,d,Forward charges,90.2,0.000240
38,121003,507101,d,2001811466,8904223818850,1.0,0.000240,0.5,1091118001865,0.80,302002,d,Forward charges,90.2,0.000240
39,121003,507101,d,2001811153,8904223818706,1.0,0.000127,0.5,1091117957533,0.76,321001,d,Forward charges,90.2,0.000127
40,121003,507101,d,2001811153,8904223819468,1.0,0.000240,0.5,1091117957533,0.76,321001,d,Forward charges,90.2,0.000240
41,121003,507101,d,2001811153,8904223818850,1.0,0.000240,0.5,1091117957533,0.76,321001,d,Forward charges,90.2,0.000240
42,121003,507101,d,2001811058,8904223818706,1.0,0.000127,0.5,1091117905022,0.72,302018,d,Forward charges,90.2,0.000127
43,121003,507101,d,2001811058,8904223818850,1.0,0.000240,0.5,1091117905022,0.72,302018,d,Forward charges,90.2,0.000240
44,121003,507101,d,2001811058,8904223818942,1.0,0.000133,0.5,1091117905022,0.72,302018,d,Forward charges,90.2,0.000133
45,121003,507101,d,2001811039,8904223818706,1.0,0.000127,0.5,1091117904860,0.68,302020,d,Forward charges,90.2,0.000127
46,121003,507101,d,2001811039,8904223818850,1.0,0.000240,0.5,1091117904860,0.68,302020,d,Forward charges,90.2,0.000240
47,121003,507101,d,2001811039,8904223818683,1.0,0.000121,0.5,1091117904860,0.68,302020,d,Forward charges,90.2,0.000121
48,121003,507101,d,2001810697,8904223818706,1.0,0.000127,0.5,1091117807140,2.27,324008,d,Forward charges,224.6,0.000127
49,121003,507101,d,2001810697,8904223819468,1.0,0.000240,0.5,1091117807140,2.27,324008,d,Forward charges,224.6,0.000240

In [27]:
count=0
for i,j in zip (final['zone_x'],final['zone_c']):
    if i!=j:
        count+=1
print(count)

31074